.header{
    background-color: yellow;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
    display: flex;
    
}
.header-icons{
    bottom: 20px;
}
.header-icons .profile {
    padding: 3vw;
    color: #f9d152;
    justify-items: right;
    background-color: #72c3be;
}
