.card-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}
.card {
    position: relative;
    width: 300px;
    height: 50vh;
    padding: 20px;
    /* border-radius: 20px; */
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    /* box-shadow: 0px 2px 6px 0px rgb(77, 76, 76) */
}
.moreInfo {
    color: orange;
    justify-self: right;
}
.swipe {
    position:fixed;
}