.footer-icons{
    width: 100%;
    border: 2px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 20px;
}
.footer-icons .heart {
    color: red;

}
.footer-icons .next {
    color: purple;
}